body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    padding: 0%;
    background: rgb(143,92,187);
background: linear-gradient(90deg, rgba(143,92,187,1) 0%, rgba(212,119,195,1) 45%, rgba(0,136,255,1) 100%);
}
#container{
    width: 600px;
    border: solid 1px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(170, 143, 92);
}
img{
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}
h1{
    text-align: center;
}
.p1{
    text-align: center;
}
li{
    list-style: none;
    margin-bottom: auto;
}
ul{
    padding: 0;
}
